In [ ]:
Extra Assignment-level-1-python

In [4]:
print("HOPE AI")

HOPE AI

In [6]:
print(input("Enter your institute name:"))

Enter your institute name: Hope AI

Hope AI

In [3]:
name = input("Enter your Name: ")
age = input("Enter your Age: ")
schoolname = input("Enter your School Name: ")
degree = input("Enter your Degree: ")

Enter your Name:  keerthana
Enter your Age:  29
Enter your School Name:  KKN
Enter your Degree:  Msc

In [56]:
num1=int(input("a="))
num2=int(input("b="))
add=num1+num2

print("add=", add)

a= 43
b= 34

add= 77

In [58]:
num1=int(input("a="))
num2=int(input("b="))
sub=num1-num2

print("sub=", sub)

a= 43
b= 34

sub= 9

In [68]:
num1=int(input("a="))
num2=int(input("b="))
mul=num1*num2

print("mul=", mul)

a= 63
b= 97

mul= 6111

In [72]:
num1=int(input("a="))
num2=int(input("b="))
div=num1/num2

print("Float div=", div)

a= 76
b= 31

Float div= 2.4516129032258065

In [76]:
num1=int(input("a="))
num2=int(input("b="))
div=num1//num2

print("Floor div=", div)

a= 76
b= 31

Floor div= 2

In [82]:
num1=int(input("a="))
num2=int(input("b="))
modulo=num1%num2

print("mod", modulo)

a= 76
b= 31

mod 14

In [86]:
num1=int(input("a="))
num2=int(input("b="))
power=num1**num2

print("power", power)

a= 4
b= 4

power 256