In [3]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))#m

4.0

In [21]:
#2.Find the error in the following Python code:
def my_function(x):
    x+= 5
    return x

x = 10
x=my_function(x)
print(x)

15

In [31]:
#3.x = 5
if x == 10:
    print("x is 10")

In [35]:
#4.
numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [39]:
#5.
def square(n):
    return n * n

print(square(4))

16

In [49]:
#6.
my_tuple = (1, 2, 3)
print (my_tuple)

(1, 2, 3)

In [51]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [57]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [65]:
#9.
for i in range(1,5):
    print(i)

1
2
3
4

In [69]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John